.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .glass {
        height: 68%;
        width: 60%;
        background-color: var(--dark-gray);
        border-radius: 50px;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        z-index: 99;
        top: 15px;
        position: relative;

        .icon {
            background-color: var(--light-gray);
            height: 25vh;
            aspect-ratio: 1 / 1;
            justify-content: center;
            align-items: center;
            display: flex;
            position: relative;
            top: -10.5vh;
            border-radius: 94px;

            img {
                height: 80%;
            }
        }

        .form {
            position: relative;
            top: -15%;

            input {
                width: 270px;
                height: 30px;
                margin-bottom: 15px;
                padding-right: 5%;

                background-color: #4F4F4F55;
                color: var(--light-text-color);
                border: none;
            }

            .link {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .button {
        background-color: var(--light-gray);
        width: 50%;
        height: 10%;
        position: relative;
        z-index: 1;
        display: flex;

        justify-content: center;
        align-items: flex-end;
        font-size: 1.5em;
        border-radius: 50px;
        top: -2%;
        padding-bottom: 2px;
        cursor: pointer;
    }
}