<header class="container flex">
    <img id="logo" src="../../../assets/site-logo.png">
    <img class="menu" src="../../../assets/menu.png" />
    <nav class="font-xl">
        <div *ngIf="!isLoggedIn()" routerLink='/login'>התחברות</div>
        <div *ngIf="!isLoggedIn()" routerLink='/register'>הרשמה</div>
        <div *ngIf="isLoggedIn()" (click)="logout()">התנתקות</div>
        <div *ngIf="isAdmin()" routerLink='/management-page'>דף ניהול</div>
        <div routerLink='/my-cart'>העגלה שלי</div>
        <div routerLink=''>בית</div>
        <div routerLink="history">רכישות עבר</div>
    </nav>
</header>