.container {
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#logo {
    margin-right: 2%;
    height: 90%;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    height: 100%;
}

nav > div {
    width: 95px;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

nav > div:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

nav a {
    text-decoration: none;
}

.menu {
    width: 30px;
    aspect-ratio: 1;
    display: none;
    margin: 0 30px;
}
