body, html {
    margin: 0;
    width: 100%;
    height: 100vh;
}

body {
    flex-direction: column;
    justify-content: center;
}

header, footer, iframe {
    background-color: var(--background-color);
}

header {
    width: 100vw;
    height: 10%;
    border-bottom: 1px var(--border-color) solid;
    justify-content: space-between;
}

footer {
    width: 100vw;
    height: 4%;
    border-top: 1px var(--border-color) solid;
    justify-content: center;
}

iframe {
    width: 100vw;
    height: 86%;
    margin: 0;
    border-width: 0;
}

#logo {
    margin-right: 4%;
}