  .ticket-item,
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .ticket-details {
    flex-grow: 1;
  }

  button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 2%;
    min-width: 45px;
  }

  button:hover {
    background-color: #823d3d;
  }

  .total {
    margin-top: 20px;
    font-size: 18px;
  }

  hr {
    margin: 30px 0;
  }

  button.remove {
    background-color: #dc3545;
  }

  button.remove:hover {
    background-color: #c82333;
  }