<div class="models-container container">
    <div class="flex">
        <h1>ניהול {{title}}</h1>
        <button class="add-button" *ngIf="buttonTitle" (click)="add()">
            <p>+</p>
        </button>
    </div>
    <div>
        חיפוש {{title}} <br/>
        <input [(ngModel)]="searchQuery" (focusout)="reload()" type="text"><br/>
        שימו לב, אורך פלטור מינימלי הוא 3 תווים ובמידה וקיים פלטור מתקדם הוא יבוטל על ידי ערך זה
     </div>
    <table>
        <tr *ngFor="let row of models">
            <td>{{row.name}}</td>
            <td *ngIf="row.date">{{row.date | date:'dd.MM.yyyy'}}</td>
            <td (click)="edit(row.id)" class="button">ערוך</td>
            <td (click)="delete(row.id)" class="button">מחק</td>
        </tr>
    </table>
</div>