<app-manage-models *ngIf="showList;else other_content" [title]="'משתמשים'" [models]="usersTableObjects"
    (deleteEvent)="delete($event)" (editEvent)="edit($event)">
</app-manage-models>

<ng-template #other_content>
    <h1>עריכת / יצירת משתמש</h1>
    <div class="form flex col">
        <section>
            אימייל: <input type="text" class="form-control" id="name" required [(ngModel)]="currentUser.email"
                placeholder="אימייל">
        </section>
        <section>
            שם פרטי: <input type="text" class="form-control" id="venueName" required [(ngModel)]="currentUser.firstName"
                placeholder="שם פרטי">
        </section>
        <section>
            שם משפחה: <input type="text" class="form-control" id="venueName" required [(ngModel)]="currentUser.lastName"
                placeholder="שם משפחה">
        </section>
        <section>
            מין: <input type="text" class="form-control" id="venueName" required [(ngModel)]="currentUser.gender"
                placeholder="מין">
        </section>
        <section>
            גיל: <input type="number" class="form-control" id="venueName" required [(ngModel)]="currentUser.age"
                placeholder="גיל">
        </section>
        <button (click)="save()">שמור מופע</button>
    </div>
</ng-template>