<div class="container">
  <h2>Available Tickets</h2>
  <div class="card-group">
    <div *ngFor="let event of events" class="card m-2 rounded-card">
      <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <div *ngFor="let ticketType of event.tickets">
          <p class="card-text">
            Type: {{ ticketType.name }} - Price: ${{ ticketType.price }}
          </p>
          <button
            class="btn btn-primary"
            (click)="addToCart(event, ticketType)"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
