<div class="galery-container">
  <section (click)="scroll(-1)" [@opacity]="showRightArrow">⟨</section>
  <div #galery id="galery" (scroll)="updateArrowsState($event)">
    <div *ngFor="let show of shows" class="show-frame">
      <div class="show-body">
        <h3 class="date">{{show.date}}</h3>
        <h5 class="location">{{show.name}}</h5>
        <div class="font-xl tickets" [routerLink]="'/shows/' + show.id">
          כרטיסים ⟫
        </div>
      </div>
    </div>
  </div>
  <section (click)="scroll(1)" [@opacity]="showLeftArrow">⟩</section>
</div>