.main-container {
    width: 100%;
    height: 100%;
    padding-top: 2%;

    .search-bar {
        width: 50%;
        height: 10%;

        justify-content: space-around;

        input {
            height: 30px;
            margin-bottom: 15px;
            padding-right: 5%;

            background-color: #4F4F4F55;
            color: var(--light-text-color);
            border: none;
            border-radius: 5px;
            box-shadow: -1px 1px;
        }
    }
}

.galery-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85%;
    align-items: center;
    justify-content: space-evenly;
}

section {
    font-size: 100px;
}

#galery {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: scroll;
    padding: 0 2%;
    scrollbar-width: 0;

    .show-frame:not(:last-child) {
        margin-left: 10%;
    }

    .tickets:hover {
        cursor: pointer;
    }
}

*::-webkit-scrollbar {
    display: none;
}

.show-frame {
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2% 0;
    border-top: 1px var(--light-text-color) solid;
    height: fit-content;

    .title {
        text-wrap: nowrap;
    }
}

.weather {

    img {
        height: 30px;
        width: 30px;
    }

    h6 {
        margin-top: 10px
    }
}