<div class="container">
    <h1>היסטוריית הזמנות: </h1>
    <div *ngIf="ordersEvents !== undefined && ordersEvents.length > 0">
        סכום הזמנה:<br/>
        <input [(ngModel)]="searchedPrice" (focusout)="loadOrders()" type="number" min="0" >
     </div>
    <div class="orders">
        <div *ngIf="ordersEvents === undefined || ordersEvents.length == 0">אין הזמנות באתר</div>
        <div *ngFor="let obj of ordersEvents" class="flex purchase">
            <div *ngIf="watchAll" class="user">{{obj.user?.firstName}} {{obj.user?.lastName}}</div>
            <div>
                <section class="eventName">{{obj.event.name}}</section>
                <section class="eventDate">{{obj.event.date | date: 'dd.MM.yyyy HH:mm'}}</section>
            </div>
            <div *ngFor="let ticket of obj.order.tickets">
                <section class="ticketType">סוג כרטיס: {{ticket.ticketType}}</section>
                <section class="amount">כמות: {{ticket.quantity}}</section>
            </div>
            <section class="totalPrice">{{obj.order.totalPrice}} ש"ח</section>
            <div (click)="delete(obj.order._id)" *ngIf="watchAll">מחיקה</div>
        </div>
    </div>
</div>