button {
    background-color: transparent;
    margin-inline: 8px;
    border-radius: 8px;
    border: 1px solid gray;
    &:hover {
        background-color: gray;
    }
}

.form {
    overflow-y: scroll;
    max-height: 90%;

    input {
        width: 270px;
        height: 25px;
        margin-bottom: 10px;
        padding-right: 5%;
        background-color: rgba(79, 79, 79, 0.3333333333);
        color: var(--light-text-color);
        border: none;
    }
}

.search-bar {
    width: 50%;
    height: 10%;

    justify-content: space-around;

    input {
        height: 30px;
        margin-bottom: 15px;
        padding-right: 5%;

        background-color: #4F4F4F55;
        color: var(--light-text-color);
        border: none;
        border-radius: 5px;
        box-shadow: -1px 1px;
    }
}