section {
    padding: 16px;
}

app-manage-venues, app-manage-users, app-manage-events, app-purchase-history {
    max-height: 85%;
}

button {
    background-color: transparent;
    margin-inline: 8px;
    border-radius: 8px;
    border: 1px solid gray;
    transition: background-color 200ms;
    &:hover {
        background-color: gray;
    }
}
