<div class="show-container flex">
  <aside class="info flex">
    <h1 class="date">{{ show.name }}</h1>
    <h3>{{ show.date | date : "dd.MM.yyyy" }}</h3>
    <h3 class="location">
      <img src="../../../assets/location.png" />
      {{ show.venueName }}
    </h3>
    <div
      *ngIf="show.weather"
      class="weather flex flex-row justify-content-center"
    >
      <h6>
        <span>{{ show.weather.temp }}°</span>
      </h6>
      <img
        src="https://openweathermap.org/img/wn/{{ show.weather.code }}@2x.png"
      />
    </div>
    <div id="map" class="map-container"></div>
  </aside>

  <div class="tickets-container">
    <section class="amount-section">
      <h3>1. בחר כמות כרטיסים</h3>
      <div class="amount">
        <div class="amount-button" (click)="increaseAmount(1)">+</div>
        {{ amount }}
        <div class="amount-button" (click)="increaseAmount(-1)">-</div>
      </div>
    </section>

    <h3>2. בחר סוג כרטיס</h3>
    <div *ngFor="let ticket of show.tickets">
      <label for="{{ ticket.ticketType }}">
        <input
          id="{{ ticket.ticketType }}"
          dir="rtl"
          [value]="ticket.ticketType"
          type="radio"
          name="enums"
          [(ngModel)]="selectedType"
        />
        {{ ticket.ticketType }}
      </label>

      {{ ticket.price }} ש"ח לכרטיס
    </div>
    <h5 class="addToCart" (click)="addToCart()">
      <img src="../../../assets/shopping-cart.png" /> הוסף לעגלה
    </h5>
  </div>
</div>
